---
name: wc-test
on:
  workflow_call:
    inputs:
      docker_is_changed:
        required: false
        type: boolean

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod
          cache: true
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.7
      - run: golangci-lint run --timeout 120s
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: go test -v ./... -race -covermode=atomic
      - run: go run ./cmd/ghatm set testdata/before.yaml
      - run: diff testdata/before.yaml testdata/after.yaml
      - run: go run ./cmd/ghatm set -auto
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: git diff --exit-code .github/workflows/test.yaml
